.container {
  width: 300px;
  text-align: justify;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

.popup-area {
  padding: 10px 0;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-area:last-child {
  border-bottom: unset;
}

.list-area {
  flex-direction: column;
}

.list-text {
  font-weight: bold;
  font-size: 16px;
  margin: 1px 0;
}

#list-warning-sites {
  width: 100%;
}

.list-warning-sites-table, td, th {
  border: 1px solid black;
}

.list-warning-sites-table {
  width: 100%;
  border-collapse: collapse;
}

.site-name {
  width: 70%;
}

#on_off_warning {
  width: 80px;
  height: 80px;
  color: darkgrey;
  border-radius: 50%;
  font-weight: bold;
}

.on-btn {
  border: 1px solid green;
}

.off-btn {
  border: 1px solid red;
}
